@{
    ViewData["Title"] = "UpcomingGrowth";
    ViewData["Decsription1"] = "Here you can find all retings.";
    ViewData["Decsription2"] = "We believe in good moves.";
}
<div class="section section-text">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">

           
        </div>
    </div>
</div>
